body {
  background-color: #52796f !important;
  color: white !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #cad2c5;
  color: black;
  text-align: center;
}

.middle {
  margin-top: 50px;
}

.icon {
  color: #2f3e46;
}

.text {
  color: black;
}

.project {
  color: #cad2c5;
}

.pColor {
  background-color: #2f3e46 !important;
}

.progress-bar.bg-pColor.progress-bar-animated.progress-bar-striped {
  background-color: red !important;
}
